# Ignore the virtual environment
venv/
app/venv/

# Ignore local logs and cache files
*.log
__pycache__/
*.pyc

# Exclude folders from being copied to the image
downloads/
volumes/
BAAI/

# Ignore pdf report file
Report/
