# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
*.venv/
env/
venv/

# -----------------------------------------------------------------------------
# Logs & Runtime
# -----------------------------------------------------------------------------
*.log

# -----------------------------------------------------------------------------
# Docker
# -----------------------------------------------------------------------------
docker-compose.override.yml
volumes/

# -----------------------------------------------------------------------------
# Editor settings
# -----------------------------------------------------------------------------
.vscode/

# -----------------------------------------------------------------------------
# OS-specific files
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# App-specific generated data
# -----------------------------------------------------------------------------
# Keep folders, ignore their content
downloads/*

BAAI/*
